header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-container-dashboard {
    max-width: 90%;
    margin: 1rem auto;
}

.courses-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, auto));
    gap: 1rem;
}

.course {
    height: 100%;
    background-color: white;
    padding: 0.5rem;
    box-shadow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px 4px;
}

.course-img {
   width: 100%;
}

.course-img img {
    max-width: 100%;
    border-radius: 4px 4px 0 0 ;
}

.course-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
}

.course-body-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-body .description {
    max-height: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
}

.btn-acquire {
    margin-top: 1rem;
    bottom: 8px;
    padding: 0.6rem;
    border-radius: 4px;
    background-color: var(--green);
    color: white;
    font-weight: 700;
    border: 1px solid #979797;
    transition: all 0.3s;
    text-transform: uppercase;
}

