:root {
    --red: #CD191E;
    --green: #309E40;
    --green-hover: #2a8137;
    --gray: #F2F2F2;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--gray);
    font-weight: 400;
    overflow: hidden;
}

input,
select,
textarea {
    font-family: 'Inter', sans-serif;
}

h1 {
    color: var(--green);
    text-transform: uppercase;
}

a,
ul {
    text-decoration: none;
}

button {
    border: 0;
    cursor: pointer;
}

li {
    list-style: none;
}


/* index styles */
.page-container {
    display: flex;
    flex-direction: row-reverse;
    height: fit-content;
    height: 100%;
}

.img-container img {
    object-fit: cover;

}

.page-container>div {
    flex: 1;
    height: 100vh;
}

.img-container img {
    width: 100%;
    height: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    padding: 5rem 1.5rem;
}

.form-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 450px;
}

.form-items>.input-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.2rem;
}

.form-items>div label {
    font-weight: 500;
}

.form-items>div input {
    flex: 1;
    border-radius: 4px;
    padding: 0.6rem;
    border: 1px solid #979797;
}

.form-items>div input:hover {
    border: 1px solid #524f4f;
}

.dont-have-an-account-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.dont-have-an-account-container a {
    color: var(--green);
    font-weight: 700;
    transition: all 0.3s;
}

.dont-have-an-account-container a:hover {
    color: var(--green-hover);
}

button[type="submit"] {
    padding: 0.6rem;
    border-radius: 4px;
    background-color: var(--green);
    color: white;
    font-weight: 700;
    border: 1px solid #979797;
    transition: all 0.3s;
    text-transform: uppercase;
}

button[type="submit"]:hover {
    background-color: var(--green-hover);
}